.contact svg {
    font-size: 1.8rem;
    cursor: pointer;
}

.contact a {
    text-decoration: none;
    color: #4b0505;
}

.contact span:first-child {
    margin-right: 1rem;
    padding: 0.5rem 2rem;
    border: 2px solid #4b0505;
    border-radius: 20px;
    transition: 1s linear;
    pointer-events: none;
    opacity: 0;
}

.contact span:first-child.is-active {
    opacity: 1;
    pointer-events: all;
}